body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(45deg, #ffcc00, #ff0066, #00ccff, #66ff66);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
}


@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.timer {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, transform 0.3s;
}

.timer:hover {
    background-color: rgba(0, 0, 0, 0.9);
    transform: scale(1.05);
}

.container {
    width: 50%;
    height: 500px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    background-color: rgb(174, 228, 232);
    border-radius: 10px;
    padding: 20px;
}

#bars {
    display: flex;
    flex-direction: row;
    width: 100%; 
    align-items: flex-end; 
    justify-content: center;
    position: relative;
}

.bar {
    width: 30px; 
    background-color: #c47405;
    border: 0.1px solid black;
    transition: height 0.3s ease;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.controls {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    background-color: #b87bdbdc;
    color: black;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 400;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

button:hover {
    background-color: #9e34db;
    transform: scale(1.05);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    border: 1px solid #9e34db;
    color: white;
}

.sort-algorithm {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sort-algorithm label {
    margin-right: 10px;
    font-size: 16px;
    color: #333;
}

#algorithm-select {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #b87bdbdc;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
}

#algorithm-select:focus {
    border-color: #9e34db;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    outline: none;
}
